@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%; /* Changed from height: 100% */
  width: 100%;
  background-color: #070A1A;
  color: white;
  margin: 0;
  padding: 0;
}

svg {
  z-index: 2;
}

/* Custom scrollbar for the internal form */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00C4CC;
}